.loader {
	border: 7px solid #f3f3f3;
	border-radius: 50%;
	border-top: 7px solid #f5e506;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 1s linear infinite; /* Safari */
	animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.kel-hover{
    cursor:pointer;
    transition-duration: 0.5s;
}

.autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}
  
  /*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}
  
  /*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}
  